<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/timetable-couchstyle.css') }}">
    <title>Document</title>
</head>
<body>

    <h1>Timetable by Coach</h1>

    <h2>Coach Alice</h2>
    <ul>
        <li>Monday 4–5 PM - Grade 1</li>
        <li>Wednesday 5–6 PM - Grade 4</li>
    </ul>
    <h2>Coach Bob</h2>
    <ul>
        <li>Monday 5–6 PM - Grade 2</li>
        <li>Wednesday 4–5 PM - Grade 1</li>
    </ul>

    <h2>Coach Carol</h2>
    <ul>
        <li>Monday 6–7 PM - Grade 3</li>
        <li>Saturday 3–4 PM - Grade 3</li>
    </ul>

    <h2>Coach Charlie</h2>
    <ul>
        <li>Friday 6–7 PM - Grade 5</li>
    </ul>

    <h2>Coach Dave</h2>
    <ul>
        <li>Saturday 2–3 PM - Grade 0</li>
    </ul>

</body>
</html>